
  body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  img {
    width: 100%;
    
    max-width: 500px;
    margin-bottom: 1rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  button {
    padding: 1rem;
    background-color: rgb(117, 117, 248);
    border-radius: 5px;
    border: 1px solid rgb(117, 117, 248);
    
    font-size: 1.2rem;
    cursor: pointer;
  }
